<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${Titulo}">Pagina spring boot  </title>
</head>
<body>

    <h1>Información del trabajador</h1>
    <ul>
        <li><Strong>Nombre:</Strong> <span th:text="${Empleado.nombre}"></span></li>
        <li><Strong>Apellido:</Strong> <span th:text="${Empleado.apellido}"></span></li>
        <li>
            <Strong>Dirección:</Strong> 
            <span th:text="${Empleado.direccion} ?: 'no tiene dirección'"></span>
        </li>
        <li><Strong>Puesto:</Strong> <span th:text="${Empleado.puesto}"></span></li>
        <li><Strong>Edad:</Strong> <span th:text="${Empleado.edad}"></span></li>
        <li><Strong>Teléfono:</Strong> <span th:text="${Empleado.telefono}"></span></li>
        <li><Strong>ID:</Strong> <span th:text="${Empleado.id}"></span></li>
    </ul>
    <h1>Lista de Empleados</h1>
   <Table border="1">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Dirección</th>
            <th>Puesto</th>
            <th>Edad</th>
            <th>Teléfono</th>
            <th>ID</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="empleado : ${ListaEmpleados}">
            <td th:text="${empleado.nombre}"></td>
            <td th:text="${empleado.apellido}"></td>
            <td th:text="${empleado.direccion} ?: 'no tiene dirección'"></td>
            <td th:text="${empleado.puesto}"></td>
            <td th:text="${empleado.edad}"></td>
            <td th:text="${empleado.telefono}"></td>
            <td th:text="${empleado.id}"></td>
        </tr>
    </tbody>
   </Table>
</body>
</html>