<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${Titulo}">Pagina spring boot  </title>
</head>
<body>

    <h1>Información del trabajador</h1>
    <ul>
        <li>Nombre: <span th:text="${Empleado.nombre}"></span></li>
        <li>Apellido: <span th:text="${Empleado.apellido}"></span></li>
        <li>Dirección: <span th:text="${Empleado.direccion}"></span></li>
        <li>Puesto: <span th:text="${Empleado.puesto}"></span></li>
        <li>Edad: <span th:text="${Empleado.edad}"></span></li>
        <li>Teléfono: <span th:text="${Empleado.telefono}"></span></li>
        <li>ID: <span th:text="${Empleado.id}"></span></li>
    </ul>
</body>
</html>